body{
	width: 100%;
	font-family: Argh, Arial;
	color: #282828;
	/*background-color: #dadfe1;*/
	background-color: white;
	
}

a {
	color: black;
}

/*HEADER*/

.header {
	padding-bottom: 5px; 
	padding-top: 5px; 
	padding-right: 20px; 
	padding-left: 10px; 
	margin-right: 10px;
}

.profileheader {
	 float: left;
}

.profilename {
	padding-top: 7px; 
	margin-top: 0; 
	margin-bottom: 0;
}

.settingheader {
	float: right;
}

.headermaintext {
	text-align: center; 
	font-size: 2.3em; 
	margin-top: 0; 
	margin-bottom: 0;
}

.headercog {
	margin-top: 0; 
	font-size: 34px; 
	margin-bottom: 0;
}

.logodiv {
	margin-right: auto; 
	margin-left: auto;
}

/*SINGLE POST PAGE*/

.container2 {
	width: 1270px; 
	margin-right: auto; 
	margin-left: auto; 
	font-family: Helvetica;
}





.graybg {
	background-color: #dadfe1
}


.profilelink {
	text-decoration: none;
}

.button {
	margin-right: 17px;
}


@font-face {
    font-family: Argh;
    src: url('../Aaargh.ttf');
}


/* Updated Clearfix */
.group:after {
	content: "";
	display: table;
	clear: both;
}
.flex {
	display: -ms-flex!important;
	display: -webkit-flex!important;
	display: -moz-flex!important;
	display: flex!important;
}

a.signup, .slButtons {
	float: right;
	text-decoration: none;
	font-size: 12px;
}
a.signup {
	margin: 10px 5px 0 0;
}
.slButtons a.signup {
	position: static;
	margin-left: 10px;
}
.slButtons a.signup:first-child {
	margin-left: 0;
}
.signup div {
	background: rgba(0,0,0,0.7);
	color: #ecf0f1;
	text-align: center;
	padding: 10px 15px;
	border-radius: 3px;
	transition: all 0.25s ease;
}
.signup div:hover {
	background: rgba(0,0,0,0.6);
}
.login {
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
	clear: both;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.login * {
	width: 100%;
	display: block;
}
.login .logo {
	width: 50%;
	margin: 0 auto;
	pointer-events: none;
}
.loginContainer {
	padding: 1px 10px 20px;
	margin-top: 10px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.75);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.passwordReset {
	font-size: 12px;
}
.field {
	padding: 3px 0 0 5px;
	border-width: 0;
	text-align: left;
	margin: 10px 0;
	height: 36px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 2px;
	box-sizing: border-box;
	transition: all 0.25s ease;
}
.field:focus {
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
label {
	margin: 3px 0;
}
input {
	font-size: 20px;
	font-family: "Argh", Arial;
}
input[type=submit] {
	background: #EEEEEE;
	border: none;
	cursor: pointer;
	padding-top: 6px;
	transition: all 0.25s ease;
}
input[type=submit]:hover {
	background: #DADFE1;
}
.forgot {
	text-align: center;
	font-size: 12px;
	margin-top: 15px;
}
.forgot a {
	width: auto;
	text-decoration: none;
	transition: all 0.25s ease;
}
.forgot a:hover {
	color: #2e2e2e;
}

@media (min-width: 720px) {
	.login {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		height: 410px;
		max-width: 400px;
	}
	.login .logo {
		width: auto;
		max-width: 80%;
	}
	.passwordReset {
		width: 150%;
		margin-left: -30%;
	}
	a.signup, .slButtons {
		font-size: 16px;
	}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0px); }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0px); }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0px); }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0px); }
}

@keyframes fadein {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0px); }
}









/* NEWS FEED MAIN ELEMENT */
.container{
	display: block;
	width: 100%;
	height: 25%;
	margin-left: 21%;
}

.authorElement{
	display: inline-block;
	margin-right: 10px;
	/*float: left;*/

}

.proPicResize{
	width: 70px;
	height: auto;
	border: 2px solid black;
}

.proPicName{
	text-align: center;
	margin-top: 2px;
}

.panoramaElement{
	display: inline-block;
	line-height: 0;
	margin-left: 0;
	width: 100%;
	border: 2px solid black;
	margin-top: 15px;
}

.panoramaResize{
	width: 100%;
	height: auto;
	border-top: 2px solid black;
	display: inline-block;
    background-color: black;
    padding: 0;
}

.panoramaHeader{
	width:100%;
}
.panoramaRight {
	float:right; 
	margin-right: 2%; 
	font-weight: 700; 
	font-family: Argh; 
	font-size: 20px;
}

.textBody {
	font-size: 18px;
}

.textWith{
	font-weight: 700; font-family: Argh; font-size: 21px; line-height: 110%; margin-bottom: 15px;
}

.textRemember {
	font-weight: 700; 
	font-family: Argh; 
	font-size: 25px; 
	line-height: 110%; 
	margin-bottom: 0;
}

.panoramaLeft {
	float:left; 
	margin-left: 2%; 
	font-weight: 700; 
	font-family: Argh; 
	font-size: 20px;
}

.map {
	float: right; 
	width: 33%; 
	padding: 15px;
}

.mapDiv {
	float: left; 
	width: 700px; 
	padding: 15px; 
	line-height: 130%;
}


.mapImage {
	width: 100%;
}

.mapsElement{
	position: relative;
	display: inline-block;
	margin-left: .5%;
	width: 16%;
	border: 2px solid black;
}

.mapsResize{
	width: 100%;
	height: auto;
}


.mapText{

}

/* FRIENDS WIDGET */
.widget {
	width: 300px;
	margin: 200px auto 0;
	border-radius: 3px;
	padding: 5px 20px;
}
.friends {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap; 
}
.friends .thumb {
	min-width: 30%;
    height: 100px;
    margin: 0 10px 10px 0;
    background: rgba(255,255,255,0.7);
    padding: 0;
    position: relative;
    text-align: right;
    overflow: hidden;
}
.friends .thumb div {
	background-size: cover;
	height: 100%;
}
.friends .thumb img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
	height: 100%;
}
.friends .thumb .overlay {
	z-index: 10;
	opacity: 0.4;
	transition: all 0.3s ease;
}
.friends .thumb:hover .overlay, .friends .thumb:hover .name {
	opacity: 0.9;
}
.friends .thumb .name {
	position: absolute;
    bottom: 3px;
    right: 5px;
    color: #ecf0f1;
    z-index: 100;
    opacity: 0.8;
    transition: all 0.3s ease;
}