<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Friends Widget</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="widget">
		<h3>Friends</h3>
		<div class="group flex friends">
			<a class="thumb" href><div><img class="overlay" src="img/overlay.png"><img src="img/preska.jpg" alt="Preska"><span class="name">Preska</span></div></a>
			<a class="thumb" href><div><img class="overlay" src="img/overlay.png"><img src="img/matthew.jpg" alt="Matthew"><span class="name">Matthew</span></div></a>
			<a class="thumb" href><div><img class="overlay" src="img/overlay.png"><img src="img/zak.jpg" alt="Zak"><span class="name">Zak</span></div></a>
			<a class="thumb" href><div><img class="overlay" src="img/overlay.png"><img src="img/aneesh.jpg" alt="Aneesh"><span class="name">Aneesh</span></div></a>
			<a class="thumb" href><div><img class="overlay" src="img/overlay.png"><img src="img/eric.jpg" alt="Eric"><span class="name">Eric</span></div></a>
			<a class="thumb" href><div><img class="overlay" src="img/overlay.png"><img src="img/preska.jpg" alt="Matthew"><span class="name">Marianne</span></div></a>
		</div>
	</div>
</body>
</html>