<!DOCTYPE html>
<html lang="en" class="graybg">
<head>
	<meta charset="UTF-8">
	<title>Password Reset</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" href="favicon.ico" type="image/x-icon"/>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
	<div class="flex slButtons">
		<a href="login.html" class="signup">
			<div class="button">Log In</div>
		</a>
		<a href="signup.html" class="signup">
			<div class="button">Sign Up</div>
		</a>
	</div>
	<div class="login">
		<img src="img/logo.png" alt="Memory Lane" title="Memory Lane" class="logo">
		<span>You had to be there.</span>
		<div class="group loginContainer passwordReset">
			<h1>Password Reset</h1>
			<p>Please enter the email that is associated with your Memory Lane account</p>
			<form action="">
				<input class="field" type="email" name="email" placeholder="Email" required>
				<input type="submit" class="submit" value="Submit">
			</form>
		</div>
	</div>
</body>
</html>