<!DOCTYPE html>
<html lang="en" class="graybg">
<head>
	<meta charset="UTF-8">
	<title>Sign Up - Memory Lane</title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" href="favicon.ico" type="image/x-icon"/>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
	<a href="login.html" class="signup">
		<div class="button">Log In</div>
	</a>
	<div class="login">
		<img src="img/logo.png" alt="Memory Lane" title="Memory Lane" class="logo">
		<span>You had to be there.</span>
		<div class="group loginContainer">
			<form action="">
				<input class="field" type="email" name="email" placeholder="Email" required>
				<input class="field" type="password" name="password" placeholder="Password" required>
				<input class="field" type="text" name="username" placeholder="User Name" required>
				<input type="submit" class="submit" value="Sign Up">
			</form>
		</div>
	</div>
</body>
</html>